%h1 About ml611.us
%p Dave Devries and Dan Bikle are the founders of this service.
%p We offer consulting services and this is our website.
%p We use this site to help you learn more about Machine Learning Applications.
%p Each year, Open-Source Machine Learning software gains more predictive power.
%p This is true for two reasons:
%ul
  %li Underlying algorithms gain power
  %li The world has more data (more data leads to better predictions)
%p Our core-competency is placing Machine Learning software within the harness of application software and then mixing in data management.
%p Many organizations make the mistake of searching for unicorn PhD level talent to fill positions.
%p If they can find and recruit this expensive talent, the talent might be strong at ML algorithms but weak in data management and application development.
%p We are very strong at data management and application development.
%p And we have been working with ML software since 2008.
%p Contact us, we want to help:
%p devries157@gmail.com
%p dan.bikle@gmail.com

