%h1 Blog
%p Dan Bikle
%p 2019-01-15
%p Each minute, human activity is generating enormous quantities of data.
%p For most businesses, this data is a source of value but also a cause of distress.
%p Machine Learning is one tool you can use to squeeze predictive power out of the data.
%p But modern Machine Learning software is available as modules.
%p The software by itself is useless.
%p You need people who understand how to wrap Machine Learning inside of application software.
%p Then the resulting application needs to attach its inputs to the large streams of data which are available to your company.
%p Your success depends on people who can build and operate Machine Learning Applications.

